# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
vendor/
.last_update_check.json
configurations/
logs/
.idea/

go/*
!go/src/
go/src/*
!go/src/app/
go/src/app/goapp
tmp/